DATABASE_URI="mongodb://admin:password123@mongodb:27017/url_shortener_database?authSource=admin"
MONGO_ROOT_USER=admin
MONGO_ROOT_PASSWORD=supersecret
MONGO_DB_NAME=myapp
MONGO_PORT=27019
TOKEN_KEY="YOUR SECRET 256 BIT PASSKEY FOR SIGNING JWT TOKENS"