DATABASE_URI="mongodb://admin:password123@mongodb:27017/url_shortener_database?authSource=admin"
TOKEN_KEY="YOUR SECRET 256 BIT PASSKEY FOR SIGNING JWT TOKENS"
ALLOWED_HOSTS=["api.yourdomain.com"]
ALLOWED_ORIGINS=["https://yourdomain.com"]
ENVIRONMENT=example
MONGO_ROOT_USER=admin
MONGO_ROOT_PASSWORD=supersecretpassword
MONGO_DB_NAME=yourapp
MONGO_PORT=mongo_port